venv
.idea
.venv
.DS_Store
**/~*
**/.*
build
dist
venv
**.pyc
**.pyo
**.egg
**.sqlite
**/__pycache__
**/.DS_Store
*.egg-info
**/*.egg-info
pip-wheel-metadata
!.gitignore
!.flake8
!.dockerignore
!.editorconfig
!.github
